@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */

.btn-primary,
.btn-primary::after {
    transition: all 0.4s;
}

.btn-primary {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0.75rem;
    background: linear-gradient(30deg, #F7E93F, #FB0DB2, #a600ff);
    border: 2px solid #ED3F27;
    border-radius: 10000px;
    color: #fff;
}

.btn-primary a {
    text-decoration: none;
    color: #fff;
}

/* header styles */

header {
    background-color: #1A0B2E;
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-humberger {
    display: none;
}

.logo h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
}

.logo a {
    text-decoration: none;
}

.logo-gradient {
    background: linear-gradient(to right, #F26C7B, #D447C0, #B71AF2);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar a {
    color: #fff;
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
}

.navbar ul {
    display: flex;
    gap: 2rem;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
}

/* banner styles */

#banner {
    max-height: 760px;
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
}

.banner-container {
    text-align: center;
}

.banner-img {
    position: relative;
    max-width: 420px;
    height: auto;
    margin: 0 auto;
}

.banner-img .new-badge {
    position: absolute;
    font-size: 1.125rem;
    color: #1A0B2E;
    font-weight: 700;
    padding: 0.8rem 1rem;
    background-color: #00FF88;
    border-radius: 1000px;
    left: 70%;
    box-shadow: 0 4px 6px #08db676f;
}

.circle {
    width: 100%;
    margin-bottom: 2.5rem;
}

.microphone {
    width: 35%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-content {
    max-width: 550px;
    margin: 0 auto;
}

.banner-content h2 {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
    color: #fff;
}

.banner-content p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.596);
    margin-bottom: 1.5rem;
}

.banner-btn {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.left-banner-btn img {
    max-width: 20px;
}

.right-banner-btn img {
    max-width: 20px;
}

.left-banner-btn a {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75rem 1.25rem;
    background: linear-gradient(30deg, #F7E93F, #FB0DB2, #a600ff);
    border: 2px solid #ED3F27;
    border-radius: 10000px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.right-banner-btn a {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75rem 1.25rem;
    background: transparent;
    border: 2px solid #00FF88;
    border-radius: 10000px;
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

/* about section */

#about {
    background-color: rgb(26, 11, 46);
    padding: 3rem 0 7.5rem 0;
}

.about-container {
    max-width: 1440px;
    margin: 0 auto;
}

.about-content {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.about-content h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #FFFFFF;
}

.about-content p {
    font-size: 1rem;
    line-height: 1.25rem;
    color: #ffffffab;
}

.about-content hr {
    margin: 5rem 0;
    border: 1px solid #ffffff0b;
}

.about-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
}

.about-card-container h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 1rem;
}

.about-card-container span {
    font-size: 1rem;
    line-height: 1.25rem;
    color: #ffffffc5;
}

/* why techweb section */

#why-techweb {
    background-color: rgb(35, 14, 61);
    padding: 7.5rem 0;
}

.why-techweb-heading h2 {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.why-techweb-container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-areas:
        "premium    mobile    mobile"
        "premium    global    global"
        "exclusive  exclusive rich";
}

.premium,
.mobile,
.global,
.exclusive,
.rich {
    background-color: rgb(42, 15, 77);
    border-radius: 2rem;
    padding: 2.5rem;
}

.premium img,
.mobile img,
.global img,
.exclusive img,
.rich img {
    margin-bottom: 1rem;
    width: 48px;
    height: auto;
    flex-shrink: 0;
}

.premium,
.mobile,
.global,
.exclusive,
.rich {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.premium h4,
.mobile h4,
.global h4,
.exclusive h4,
.rich h4 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1rem;
}

.premium p,
.mobile p,
.global p,
.exclusive p,
.rich p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff84;
}

.premium {
    grid-area: premium;
}

.mobile {
    grid-area: mobile;
}

.global {
    grid-area: global;
}

.exclusive {
    grid-area: exclusive;
}

.rich {
    grid-area: rich;
}

.exclusive img {
    max-width: 60px;
    background-color: rgb(42, 15, 77);
    border-radius: 2rem;
}

/* feature section */

#feature {
    background-color: #1A0B2E;
    padding: 7.5rem 0;
}

.feature-card iframe {
    max-width: 450px;
    max-height: 214px;;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
}

.feature-heading h2 {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.5rem;
}

.feature-container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.feature-card {
    background-color: #250D44;
    border-radius: 2rem;
    max-width: 450px;
    max-height: 450px;
    margin: 0 auto;
    color: #fff;
}

.feature-card-content {
    padding: 0 2rem;
}

.feature-card-content h4 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.feature-card-content p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff9a;
    margin-bottom: 0.75rem;
}

.feature-card-content span {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #00FF88;
    display: inline-block;
    margin-bottom: 1.5rem;
}

/* responsiveness 576px */

@media screen and (max-width: 576px) {

    /* header and banner section */

    .header-container {
        max-width: 390px;
        margin: 0 auto;
        padding: 0.7rem;
    }

    .logo h2 {
        font-size: 2rem;
    }

    .navbar,
    .btn-primary {
        display: none;
    }

    .header-humberger {
        display: block;
    }

    .circle {
        width: 200px;
        height: 200px;
        margin-bottom: .8rem;
    }

    .microphone {
        width: 15%;
        height: auto;
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #banner {
        max-height: 446px;
        max-width: 576px;
        background-size: cover;
        background-position: center;
    }

    .banner-img .new-badge {
        left: 60%;
    }

    .banner-content {
        max-width: 400px;
    }

    .banner-content h2 {
        font-size: 2.5rem;
        font-weight: 900;
        margin-bottom: .8;
    }

    .banner-content p {
        margin-bottom: .8rem;
    }

    /* about section */

    #about {
        padding: 3rem 0 3rem 0;
    }

    .about-content {
        max-width: 370px;
    }

    .about-content h2 {
        font-size: 2rem;
    }

    .about-content br {
        display: none;
    }

    .about-content p {
        margin-bottom: 1.5rem;
    }

    .about-content hr {
        margin: 2rem;
    }

    .about-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        justify-content: center;
    }

    .about-card h2 {
        font-size: 2.5rem;
    }

    /* why techweb section */

    #why-techweb {
        padding: 2.5rem 0;
    }

    .why-techweb-heading h2 {
        font-size: 2rem;
    }

    .why-techweb-container {
        grid-template-areas:
            "premium"
            "mobile"
            "global"
            "exclusive"
            "rich";
    }

    .premium,
    .mobile,
    .global,
    .exclusive,
    .rich {
        max-width: 350px;
        margin: 0 auto;
    }

    /* feature section */

    #feature {
        padding: 2.5rem 0;
    }

    .feature-heading h2 {
        font-size: 2rem;
    }

    .feature-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .feature-card iframe {
        max-width: 350px;
    }

    .feature-card {
        max-width: 350px;
    }
}

/* responsiveness for 576px to 992px */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .circle {
        width: 260px;
        height: 250px;
        margin-bottom: .8rem;
    }

    .microphone {
        width: 25%;
        height: auto;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #banner {
        padding: 3.5rem 0;
    }

    /* about section */

    #about {
        padding: 3rem 0 3rem 0;
    }

    .about-content {
        max-width: 700px;
    }

    .about-content br {
        display: none;
    }

    .about-card h2 {
        font-size: 2.5rem;
    }

    .about-content p {
        margin-bottom: 1.5rem;
    }

    .about-content hr {
        margin: 2rem;
    }

    /* why techweb section */

    #why-techweb {
        padding: 3rem 0;
    }

    .why-techweb-container {
        grid-template-areas:
        "premium mobile"
        "premium global"
        "exclusive rich";
    }

    .why-techweb-container {
        padding: 0 20px;
    }

    /* feature section */

    #feature {
        padding: 3rem;
    }

    .feature-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    .feature-card iframe {
        max-width: 550px;
    }

    .feature-card {
        max-width: 550px;
    }
}